/*------------------------------------------------*/
/* Basic styles */ 
/* Designed and coded by HeroWP.com*/
/* Don't forget to visit us daily for tons of freebies:
	-PSD Templates
	-Wordpress Plugins
	-Wordpess Themes
	-HTML Designs
	-& many more!
*/
/*------------------------------------------------*/


.overlay{
	background:rgba(0,0,0,.8);
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	z-index:1;
	overflow:hidden;
}


@media (min-width: 1200px){
	.container {
		width:1170px;
	}
}

#wrap{
	width:100%;
	height:100%;
	display:table;
	position:relative;
	z-index:10000;
}

#defaultCountdown{
	z-index:2;
	margin:0 auto;
	display:table;
	position:relative;
}

.countdown-row {
	margin:0 auto;
	width:100%;
	display:table;
	text-align:center;
}

.countdown-section {
    display: block;
    float: left;
    width: 120px;
    height: 100px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #555;
    text-align: center;
    margin: 30px 20px;
    background: #333;
    color: #fff;
}

.countdown-amount {
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
    font-family: font-family: 'Roboto', sans-serif;
}
.countdown-period {
    display: block;
    color: #FCFCFC;
    font-size: 15px;
    font-weight: 100;
    background: #333 none repeat scroll 0% 0%;
    margin-top: -22px;
    border-radius: 0px 0px 12px 12px;
    width: 120px;
    margin-left: -1px;
    padding-bottom: 20px;
}

.image-align{
	margin:0 auto;
	text-align:center;
	display:block;
	padding-top: 100px;
}

h1{
	font-size:56px;
	font-weight:300;
	text-align:center;
}

h1 span{
	font-size:32px;
}

.yellow{
	color:#ff9c00;
	font-size:56px;
}

p{
	font-size:16px;
	line-height:30px;
	text-align:center;
	font-weight:100;
}

form{
	margin:0 auto;
	display:table;
	margin-top:50px;
}


a{
color:#fff;
text-decoration:underline;
}

p.copyright{
font-size:13px;
margin-top:30px;
}


/*------------------------------------------------*/
/* Responsive styles */
/*------------------------------------------------*/

@media (min-width: 561px) and (max-width: 720px) {
	
	.countdown-section {
		margin:5px;
	}

}

@media (max-width: 600px){
	
	.countdown-section {
		display: block;
		float: left;
		text-align: center;
		width:75px;
		height:75px;
		margin:6px;
	}
	
	.countdown-amount {
		font-size: 32px;
		font-weight:700;
		line-height:74px;
	}
	
}

@media (max-width: 420px){
	
	.countdown-section {
		display: block;
		float: left;
		text-align: center;
		width:56px;
		height:56px;
		margin:2px;
	}
	
	.countdown-amount {
		font-size: 24px;
		font-weight:700;
		line-height:58px;
	}
	
	.image-align{
		padding-top: 20px;
		width:30%;
	}
	
	h1,.yellow{
		font-size:32px;
	}	
	
	h1 span{
	font-size:18px;
	}
	
	input[type="text"]{
		width:150px;
		font-size:14px;
		padding-left:5px;
	}	
	
	input[type="submit"]{
		left:-3px;
		top:5px;
	}
	
}




/******commantt****/
pc1@PC1:~$ /var/www/html
bash: /var/www/html: Is a directory
pc1@PC1:~$ cd /var/www/html
pc1@PC1:/var/www/html$ cd var www html
bash: cd: var: No such file or directory
pc1@PC1:/var/www/html$ cd var www html nexus
bash: cd: var: No such file or directory
pc1@PC1:/var/www/html$ cd var 
bash: cd: var: No such file or directory
pc1@PC1:/var/www/html$ cd var www html
bash: cd: var: No such file or directory
pc1@PC1:/var/www/html$ cd var/www/html/
bash: cd: var/www/html/: No such file or directory
pc1@PC1:/var/www/html$ cd var/www/html/nexus
bash: cd: var/www/html/nexus: No such file or directory
pc1@PC1:/var/www/html$ cd nexus
pc1@PC1:/var/www/html/nexus$ git add -A
pc1@PC1:/var/www/html/nexus$ git status -s
M  css/coming.css
A  css/jquery.mCustomScrollbar.css
A  css/main.css
A  css/responsive.css
M  css/style.css
A  dance.html
A  event.jpg
A  images/Untitled-2.jpg
A  images/Untitled-3.jpg
A  images/background.jpg
A  images/dance.png
A  images/deco.png
M  index.html
A  js/jquery.mCustomScrollbar.concat.min.js
A  js/main.js
pc1@PC1:/var/www/html/nexus$ git commit -a -m "index page updated"
[master 9e1bdd6] index page updated
 15 files changed, 5375 insertions(+), 19 deletions(-)
 create mode 100644 css/jquery.mCustomScrollbar.css
 create mode 100644 css/main.css
 create mode 100644 css/responsive.css
 create mode 100644 dance.html
 create mode 100644 event.jpg
 create mode 100644 images/Untitled-2.jpg
 create mode 100644 images/Untitled-3.jpg
 create mode 100644 images/background.jpg
 create mode 100644 images/dance.png
 create mode 100644 images/deco.png
 create mode 100644 js/jquery.mCustomScrollbar.concat.min.js
 create mode 100644 js/main.js
pc1@PC1:/var/www/html/nexus$ git push origin master
Password for 'https://vikashtomar@bitbucket.org': 
Counting objects: 27, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (20/20), done.
Writing objects: 100% (20/20), 590.81 KiB | 0 bytes/s, done.
Total 20 (delta 5), reused 0 (delta 0)
To https://vikashtomar@bitbucket.org/vikashtomar/nexus.git
   2ea289f..9e1bdd6  master -> master
pc1@PC1:/var/www/html/nexus$ ssh hestawor@hestawork.com
hestawor@hestawork.com's password: 
Last login: Mon Feb 15 07:03:22 2016 from 163.47.141.138
hestawor@hestawork.com [~]# cd public_html/nexus
hestawor@hestawork.com [~/public_html/nexus]# status -s
status: invalid option: -s
Try `status --help' for more information.
hestawor@hestawork.com [~/public_html/nexus]# git status -s
hestawor@hestawork.com [~/public_html/nexus]# git pull origin master
remote: Counting objects: 20, done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 20 (delta 5), reused 0 (delta 0)
Unpacking objects: 100% (20/20), done.
From https://bitbucket.org/vikashtomar/nexus
 * branch            master     -> FETCH_HEAD
Updating 2ea289f..9e1bdd6
Fast-forward
 css/coming.css                           |    2 +-
 css/jquery.mCustomScrollbar.css          | 1272 +++++++++++++++++
 css/main.css                             | 2212 ++++++++++++++++++++++++++++++
 css/responsive.css                       |  446 ++++++
 css/style.css                            |  206 ++-
 dance.html                               | 1001 ++++++++++++++
 event.jpg                                |  Bin 0 -> 221633 bytes
 images/Untitled-2.jpg                    |  Bin 0 -> 90068 bytes
 images/Untitled-3.jpg                    |  Bin 0 -> 68861 bytes
 images/background.jpg                    |  Bin 0 -> 32427 bytes
 images/dance.png                         |  Bin 0 -> 13456 bytes
 images/deco.png                          |  Bin 0 -> 5762 bytes
 index.html                               |   30 +-
 js/jquery.mCustomScrollbar.concat.min.js |    5 +
 js/main.js                               |  220 +++
 15 files changed, 5375 insertions(+), 19 deletions(-)
 create mode 100644 css/jquery.mCustomScrollbar.css
 create mode 100644 css/main.css
 create mode 100644 css/responsive.css
 create mode 100644 dance.html
 create mode 100644 event.jpg
 create mode 100644 images/Untitled-2.jpg
 create mode 100644 images/Untitled-3.jpg
 create mode 100644 images/background.jpg
 create mode 100644 images/dance.png
 create mode 100644 images/deco.png
 create mode 100644 js/jquery.mCustomScrollbar.concat.min.js
 create mode 100644 js/main.js
hestawor@hestawork.com [~/public_html/nexus]# wireframes/xfluency
