@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@font-face {
	font-family: 'Conv_Queen of Camelot Italic';
	src: url('fonts/Queen of Camelot Italic.eot');
	src: local(''), url('fonts/Queen of Camelot Italic.woff') format('woff'), url('fonts/Queen of Camelot Italic.ttf') format('truetype'), url('fonts/Queen of Camelot Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (min-width:799px) and (max-width:980px){
	.toggle-menu ul {
		width: 35%;
	}
	.submenu{
		width: 80% !important;
	}
	.submenu1{
		width: 80% !important;
	}
	.clouds {
		top: 130px;
	}
	.Nexus-search.pull-right {
    margin-top: -35px;
}
.text-box {
	width: 75%;
	float: left;
	display: none !important;
}
.facbook-plugin {
    display: none;
}
.contact-heading {
	margin: 90px 0px;
}
}
@media screen and (min-width:768px) and (max-width:800px){
	.facbook-plugin {
    display: none;
}
.clouds {
		top: 130px;
	}
	.text-box {
	width: 75%;
	float: left;
	display: none !important;
}
	.Nexus-search.pull-right {
		margin-top: -35px;
	}
.toggle-menu ul {
	width: 40%;
}
.submenu {
    width: 80% !important;
}
.submenu1 {
    width: 80% !important;
}
.about h1 {
	margin-top: 10px;
}
}
@media screen and (min-width:601px) and (max-width:767px){
	.toggle-menu ul {
	width: 40%;
}
.submenu {
    width: 90% !important;
}
.submenu1 {
    width: 90% !important;
}
	.facbook-plugin {
    display: none;
}
.clouds {
		top: 130px;
	}
.text-box {
    width: 70%;
    float: left;
    display: none !important; 
}
	.Nexus-search.pull-right {
		margin-top: -35px;
	}
	.countdown-section {
		display: block;
    float: left;
    width: 120px;
    height: 100px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #555;
    text-align: center;
    margin: 10px 10px;
    background: #333;
    color: #fff;
	}
	.countdown-period {
    display: block;
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 100;
    background: #333 none repeat scroll 0% 0%;
    margin-top: -22px;
    border-radius: 0px 0px 12px 12px;
    width: 120px;
    margin-left: -1px;
    padding-bottom: 20px;
}
#banner {
    background: transparent url("../images/banner.jpg") no-repeat fixed 0% 0% / 100% 100%;
    width: 100%;
    height: 655px;
}
.red-scrolling.wow.fadeInUp.animated img {
    width: 92%;
}
.march-text {
	margin-bottom: 20px;
}
.about {
    margin: 0px 5px;
}
.about h1 {
	font-size: 30px;
   padding: 15px 15px 0px;
	margin-top: 20px;
}
.border-bottom {
	width: 20%;
}
.about p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    margin-bottom: 15px;
}
}
@media only screen and ( max-width: 600px ){
		.countdown-period {
    display: block;
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 100;
    background: #333 none repeat scroll 0% 0%;
    margin-top: -2px;
    border-radius: 0px 0px 12px 12px;
    width: 120px;
    margin-left: -1px;
    padding-bottom: 20px;
}
.countdown-section {
		display: block;
    float: left;
    width: 120px;
    height: 100px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #555;
    text-align: center;
    margin: 10px 10px;
    background: #333;
    color: #fff;
	}
	#banner {
    background: transparent url("../images/banner.jpg") no-repeat fixed 0% 0% / 100% 100%;
    width: 100%;
    height: 655px;
}
.red-scrolling.wow.fadeInUp.animated img {
    width: 92%;
}
.march-text {
	margin-bottom: 20px;
}
	.toggle-menu ul {
	width: 40%;
}
.submenu {
    width: 90% !important;
}
.submenu1 {
    width: 90% !important;
}
	.facbook-plugin {
    display: none;
}
.clouds {
		top: 130px;
	}
.text-box {
    width: 70%;
    float: left;
    display: none !important;
}
	.Nexus-search.pull-right {
		margin-top: -35px;
	}
	.about {
    margin: 0px 5px;
}
.about h1 {
	font-size: 30px;
   padding: 15px 15px 0px;
	margin-top: 20px;
}
.border-bottom {
	width: 20%;
}
.about p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    margin-bottom: 15px;
}
}
@media screen and (min-width:480px) and (max-width:599px){
		.facbook-plugin {
    display: none;
}
.toggle-menu ul {
    width: 50%;
}
.clouds {
		top: 130px;
	}
.text-box {
    width: 55% !important;
    float: left;
    display: none !important;
}
	.Nexus-search.pull-right {
		margin-top: -35px;
	}
	.countdown-section {
		display: block;
    float: left;
    width: 120px;
    height: 100px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #555;
    text-align: center;
    margin: 20px 10px;
    background: #333;
    color: #fff;
	}
	.countdown-period {
    display: block;
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 100;
    background: #333 none repeat scroll 0% 0%;
    margin-top: 14px;
    border-radius: 0px 0px 12px 12px;
    width: 120px;
    margin-left: -1px;
    padding-bottom: 20px;
}
.red-scrolling.wow.fadeInUp.animated img {
    width: 92%;
}
.march-text p{
	font-size: 25px;
}
#banner {
    background: transparent url("../images/banner.jpg") no-repeat fixed 0% 0% / 100% 100%;
    width: 100%;
    height: 810px;
}
#defaultCountdown{
	margin-left: 55px;
}
.about {
    margin: 0px 5px;
}
.about h1 {
	font-size: 30px;
   padding: 15px 15px 0px;
	margin-top: 20px;
}
.border-bottom {
	width: 20%;
}
.about p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    margin-bottom: 15px;
}
}
@media screen and (min-width:360px) and (max-width:479px){
	.about {
    margin: 0px 5px;
}
.about h1 {
	font-size: 30px;
   padding: 15px 15px 0px;
	margin-top: 20px;
}
.border-bottom {
	width: 20%;
}
.about p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    margin-bottom: 15px;
}
.nexus-red.wow.fadeInDown.animated img {
    width: 80%;
}
.countdown-section {
	display: block;
    float: left;
    width: 120px;
    height: 100px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #555;
    text-align: center;
    margin: 15px 10px;
    background: #333;
    color: #fff;
	}
	.countdown-period {
    display: block;
    color: #FCFCFC;
    font-size: 22px;
    font-weight: 100;
    background: #333 none repeat scroll 0% 0%;
    margin-top: 14px;
    border-radius: 0px 0px 12px 12px;
    width: 120px;
    margin-left: -1px;
    padding-bottom: 20px;
}
#banner {
    background: transparent url("../images/banner.jpg") no-repeat fixed 0% 0% / 100% 100%;
    width: 100%;
    height: 790px;
}
#defaultCountdown{
	margin-left: 45px;
}
.march-text p {
	font-size: 25px;
}
.text-box {
	display: none !important;
}
.march-text {
    background: transparent url("../images/Untitled-1.png") no-repeat scroll 0% 0%;
    background-size: 95% 100%;
}
.border-bottom {
	margin-bottom: 30px;
}
#about-us {
	height: 540px;
}
.toggle-menu ul {
    width: 70%;
}
}
@media screen and (min-width:320px) and (max-width:359px){
	.about {
    margin: 0px 5px;
}
.about h1 {
	font-size: 30px;
   padding: 0px;
	margin-top: 20px;
}
.border-bottom {
	width: 20%;
}
.about p {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    margin-bottom: 12px;
}
.nexus-red.wow.fadeInDown.animated img {
    width: 80%;
}
.countdown-section {
		display: block;
    float: left;
    width: 120px;
    height: 100px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #555;
    text-align: center;
    margin: 10px 5px;
    background: #333;
    color: #fff;
	}
	.countdown-period {
    display: block;
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 100;
    background: #333 none repeat scroll 0% 0%;
    margin-top: 14px;
    border-radius: 0px 0px 12px 12px;
    width: 120px;
    margin-left: -1px;
    padding-bottom: 20px;
}
#banner {
    background: transparent url("../images/banner.jpg") no-repeat fixed 0% 0% / 100% 100%;
    width: 100%;
    height: 790px;
}
#defaultCountdown{
	margin-left: 30px;
}
.march-text p {
    font-size: 15px;
}
#about-us {
    background: transparent url("../images/aboutusBackground.jpg") no-repeat fixed 0% 0% / 100% 100%;
    width: 100%;
    height: 570px;
}
.text-box {
	display: none !important;
}
.march-text {
    background: transparent url("../images/Untitled-1.png") no-repeat scroll 0% 0%;
    background-size: 85% 100%;
}
.border-bottom {
	margin-bottom: 30px;
}
.toggle-menu ul {
    width: 70%;
}
.submenu {
    width: 92% !important;
}
.submenu1 {
    width: 92% !important;
}
}