@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@font-face {
	font-family: 'Conv_Queen of Camelot Italic';
	src: url('fonts/Queen of Camelot Italic.eot');
	src: local(''), url('fonts/Queen of Camelot Italic.woff') format('woff'), url('fonts/Queen of Camelot Italic.ttf') format('truetype'), url('fonts/Queen of Camelot Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    background: #FFFFFf;
    color: #5a5d63;
    line-height: 1;
    font-size: 13px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a img {
    border: medium none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#banner{
	background: url(../images/banner.jpg) no-repeat;
	width: 100%;
	height: 943px;
	background-size: 100% 100%;
	background-attachment: fixed;
}
header {
    padding: 10px 0;
}


.text-box {
    background: #FFFDFD none repeat scroll 0% 0%;
    color: #555;
    border: 1px solid #CCC;
    padding: 10px 12px;
    border-radius: 4px;
    width: 100%;
    display: none;
}
.text-box:focus{
  box-shadow: #FD660F 1px 1px 10px 1px;
  transition :all 2s ease ;
  -moz-transition :all 1s ease ;
  -webkit-transition :all 1s ease ;
  -ms-transition :all 1s ease ;
  -o-transition :all 1s ease ;
}
.Nexus-search.pull-right {
    display: block;
}
.Nexus-search.pull-right ul{
	padding: 0px;
	margin: 0px;
}
.Nexus-search.pull-right ul li{
	display: block;
	list-style: none;
	float: left;
	margin-right: 5px;
}
.Nexus-search.pull-right ul li:last-child{
	margin-right: 0;
}
.Nexus-search.pull-right ul li h1 {
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    font-family: 'Conv_Queen of Camelot Italic';
     text-shadow: #A19696 2px 2px 5px;
}
.navbar-nav > li > a {
}
.nav.navbar-nav {
    background: #F27D29 none repeat scroll 0% 0%;
    float: none;
    width: 40%;
    border-radius: 0 0 5px 5px;
    z-index: ;
   
}
.navbar-collapse.collapse{
	display: none !important;
}
.navbar-collapse.collapse {
    height: auto !important;
    padding-bottom: 0px;

}
.navbar-collapse.collapse {
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;

}

.Nexus-search.pull-right ul li i {
    font-size: 28px;
    color: #FFF;
    padding-right: 10px;
    text-shadow: 2px 2px 5px #A19696;
    padding-left: 5px;
}

.menu-navigation ul{
	padding: 0px;
	margin: 0px;
}
.menu-navigation ul li{
	float: none;
}
.nexus-red {
    margin-bottom: 20px;
}
.menu-navigation i {
    font-size: 25px;
    background: #F27D29 none repeat scroll 0% 0%;
    color: #FFF;
    padding: 5px 12px;
    border-radius: 3px;

}
.submenu{
  display: none;
}
.submenu ul{
  background: none;
  padding: 0px;
  margin: 0px;
}
.submenu li {
    border: medium none !important;
    margin-bottom: 1px !important;
}
.submenu li a {
    background: #fff;
    color: #000;
    border-radius: 0px 10px 10px 0;
}

.submenu1{
  display: none;
}
.submenu1 ul{
  background: none;
  padding: 0px;
  margin: 0px;
}
.submenu1 li {
    border: medium none !important;
    margin-bottom: 1px !important;
}
.submenu1 li a {
    background: #fff;
    color: #000;
    border-radius: 0px 10px 10px 0;
}
.submenu1 li a:hover{
  color: #F27D29 !important;
}
.toggle-menu ul {
    padding: 0px;
    margin: 0px;
    /*background: #F27D29;*/
    width: 70%;
    opacity: 0.9;
/*    display: none;*/
    border-radius: 0px 0px 5px 5px;
}
.toggle-menu ul li {
    list-style: outside none none;
    line-height: 35px;
    margin-bottom: 1px;    
}
.fa.fa-chevron-down.drop {
    background: none;
    float: right;
    font-size: 16px;
}
/*.home {
    width: 85% !important;
}*/
.toggle-menu ul li:hover{
  
    color: #000;
}
#toggle {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.toggle-menu ul li a{
	padding: 0 13px;
    font-size: 14px;
    opacity: 1;
    display: block;
    background: #FD660F none repeat scroll 0% 0%;
    border-radius: 0px 15px 15px 0px;
    color: #fff;
}
.toggle-menu ul li a:hover{
    color: #fff;
    background: #900911;
}
.banner-images {
    text-align: center;
    margin-top: 440px;
}
.red-scrolling {
    margin: 35px;
}
.nexus-red img {
    height: 130px;
}
.banner-images p {
    font-size: 23px;
    margin: 20px;
    font-weight: 600;
    color: #423F3F;
    letter-spacing: 2px;
}
.march-text {
    background: transparent url("../images/Untitled-1.png") no-repeat scroll 0% 0%;
    width: 380px;
    height: 65px;
    margin: 0px auto;
    display: none;
}
.pepsi{
	position: relative;
}
.pepsi ul {
    margin: 0px;
    padding: 0px;
}
.pepsi ul li{
	display: inline-block;
}
.pepsi ul li:last-child {
    
}


.pepsi-logo{
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -ms-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
    width: auto;
    height: 42px;
}


@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-ms-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.march-text p {
    line-height: 65px;
    font-size: 26px;
    color: #fff;
}
.march-text i {
    float: left;
    line-height: 64px;
    margin-left: 25px;
}
#about-us{
	background: url(../images/aboutusBackground.jpg) no-repeat;
	width: 100%;
	height: 593px;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.about {
    text-align: center;
    margin: 0px 70px;
}
.about h1 {
    color: #FFF;
    font-size: 40px;
    padding: 30px 30px 0px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 40px;
}
.border-bottom {
    width: 10%;
    border-color: #F08C10;
    border-width: 2px 0px 0px;
    margin-top: 10px;
    margin-bottom: 70px;
}
.about p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 17px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.facbook-plugin{
	margin: 100px 0;
}
.read-more {
    background: #EF8B0F;
    border: 1px solid #EF8B0F;
    color: #fff;
    padding: 15px 40px;
    border-radius: 3px;
    font-size: 22px;
    margin-top: 15px;
    transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.read-more:hover{
	background: #fff;
	color: #6C240C;
	border: 1px solid #fff; 
	 border-radius: 50%;

}
#facebook-link{
	background: url(../images/facebookbackground.jpg) no-repeat;
	width: 100%;
	height: 652px;
	background-size:100% 100%;
	background-attachment: fixed; 
}
.contact-heading {
    background: #fff;
    padding: 40px 20px;
    margin: 95px 0;
}
.contact-form{
	width: 100%;
}
.contact-heading h2{
	color: #333;
	font-size: 25px;

}
.border-bottom-contact {
    width: 15%;
    border-color: #F08C10;
    border-width: 2px 0px 0px;
    margin-top: 15px;
    margin-left: 0;
}
.send {
    background: #EF8B0F;
    border: 1px solid #EF8B0F;
    padding: 12px 40px;
    float: right;
    border-radius: 3px;
    font-size: 20px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.send:hover{
    border-radius: 50%;
    background:#6C240C;
}
#footer{
	background: #6C240C;
}
.footer-text p {
    color: #FFF;
    padding: 25px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fafafa;
}
.footer-copy {
    opacity: 0.3;
}



/*.wrapper {
  overflow: hidden;
  position: absolute;
}

.sliding-background {
  background: url("../images/bg-clouds.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}*/

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.clouds {
  position: absolute;
  top: 70px;
  left:0;
  display: block;
  width: 100%;
  height: 337px;
  background-image: url("../images/cloud1.png");
  -webkit-animation: clouds 15s infinite linear;
  -moz-animation: clouds 15s infinite linear;
  -ms-animation: clouds 15s infinite linear;
  -o-animation: clouds 15s infinite linear;
  animation: clouds 15s infinite linear;
}
.no-touch.cssanimations .clouds {
  -webkit-animation: clouds 15s infinite linear;
  -moz-animation: clouds 15s infinite linear;
  -ms-animation: clouds 15s infinite linear;
  -o-animation: clouds 15s infinite linear;
  animation: clouds 15s infinite linear;
}

/* clouds */
@-webkit-keyframes clouds {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -1000px 0; } }

@-moz-keyframes clouds {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -1000px 0; } }

@-ms-keyframes clouds {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -1000px 0; } }

@-o-keyframes clouds {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -1000px 0; } }

@keyframes clouds {
  0% {
    background-position: 0 0; }

  100% {
    background-position: -1000px 0; } }

file:///home/pc1/Desktop/Nexus/index.html








/****dance page css start here*****/


.contact-list{
      margin: 0
    }
    .navigation-list{
      position: absolute;
      bottom: 3em;
      margin-left: 15%;
    }
    .codrops-section{
      /*margin: 0 auto;*/
      /*padding: 10em 3em;*/
      text-align: center;
    }
    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
      font-family: 'Raleway', sans-serif;
    }

     .nav-a{
      position: relative;
      display: inline-block;
      /*margin: 15px 25px;*/
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      /*letter-spacing: 1px;*/
      /*font-weight: 400;*/
      text-shadow: 0 0 1px rgba(255,255,255,0.3);
      /*font-size: 1.35em;*/
    }

    nav a:hover,
    nav a:focus {
      outline: none;
    }
    .cl-effect-7 a {
      margin: 0 10px;
      padding: 6px 10px 6px;
      color: #ffffff;
      text-shadow: none;
      font-weight: 700;
    }

    .cl-effect-7 a::before,
    .cl-effect-7 a::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: scale(0.85);
      -moz-transform: scale(0.85);
      transform: scale(0.85);
    }

    .cl-effect-7 a::after {
      opacity: 0;
      -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
      transition: top 0.3s, opacity 0.3s, transform 0.3s;
    }

    .cl-effect-7 a:hover::before,
    .cl-effect-7 a:hover::after,
    .cl-effect-7 a:focus::before,
    .cl-effect-7 a:focus::after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }

    .cl-effect-7 a:hover::after,
    .cl-effect-7 a:focus::after {
      top: 0%;
      opacity: 1;
    }
    .cl-effect-13 a {
      margin: 0 10px;
      padding: 6px 10px 6px;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }

    .cl-effect-13 a::before {
      position: absolute;
      top: 70%;
      left: 50%;
      color: transparent;
      content: '•';
      text-shadow: 0 0 transparent;
      font-size: 0.6em;
      -webkit-transition: text-shadow 0.3s, color 0.3s;
      -moz-transition: text-shadow 0.3s, color 0.3s;
      transition: text-shadow 0.3s, color 0.3s;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      pointer-events: none;
    }

    .cl-effect-13 a:hover::before,
    .cl-effect-13 a:focus::before {
      color: #fff;
      text-shadow: 10px 0 #fff, -10px 0 #fff;
    }

    .cl-effect-13 a:hover,
    .cl-effect-13 a:focus {
      
    }

  .content-table {
    height: 60vh;
    margin-bottom: 0px;
    text-align: left;
}
.project-title {
    padding-top: 30px;
    color: #FFF;
    font-family: gamond;
}
.right h2 {
    font-size: 25px;
}
.image-dance img{
  width: 60%;
}
    .project-text{
      color: #FFFFFF;
    }
    .info-para{
      padding: 1em;
      text-align: justify;
    }
    .rules-list{
      text-align: justify;
    }
    .rules-div{
      padding: 1em;
      height: 45vh;
      overflow-y:scroll;
      overflow-y:auto;
      border: none;
    }
    .contact-item{
      padding: 0 0.7em
    }
    .project-title, .info-para, .rules-list, .header-title, .nav-label, .cl-effect-7, .btn, .contact-item, .project-text{
      font-family: Garamonded;
    }
    @font-face {
        font-family: ER;
        src: url(../assets/font/Engagement-Regular.woff);
      }
      @font-face {
        font-family: J;
        src: url(../assets/font/JosefinSans-Regular.woff);
      }
    .left-text {
      text-align : left;
    }
    .contact-item{
      width: 25%;
    }
    .left-one{
      background: url(../images/Choreography.jpg);
      background-size: cover;
      matrix(1, 0, 0, 1, 0, 0);
    }
    .left-one-ratmaza{
       background: url(../images/Razzmatazz.JPG);
      background-size: cover;
      matrix(1, 0, 0, 1, 0, 0);
    }
     .left-two{
      background: url(../images/Classical-Solo-Dance.jpg);
      background-size: cover;
      matrix(1, 0, 0, 1, 0, 0);
    }
     .left-three{
      background: url(../images/Folk-dance.jpg);
      background-size: cover;
      matrix(1, 0, 0, 1, 0, 0);
    }
     .left-four{
      background: url(../images/Western-Dance-Solo.jpg);
      background-size: cover;
      matrix(1, 0, 0, 1, 0, 0);
    }

    .project-content{
      background-image:url(../images/Event-PIC.jpg);      
      background-size:cover;
      matrix(1, 0, 0, 1, 0, 0);
    }
   .one{
    background-image:url(../images/1.jpg);      
      background-size:cover;
      matrix(1, 0, 0, 1, 0, 0);
   }
    .two{
    background-image:url(../images/2.jpg);      
      background-size:cover;
      matrix(1, 0, 0, 1, 0, 0);
   }
    .three{
    background-image:url(../images/3.jpg);      
      background-size:cover;
      matrix(1, 0, 0, 1, 0, 0);
   }
    .four{
    background-image:url(../images/4.jpg);      
      background-size:cover;
      matrix(1, 0, 0, 1, 0, 0);
   }
    .five{
    background-image:url(../images/5.jpg);      
      background-size:cover;
      matrix(1, 0, 0, 1, 0, 0);
   }

    #\31 1 p {
    line-height: 31px;
    font-size: 16px;
}
#\32 1 p{
     line-height: 38px;
    font-size: 16px;
}


/*****About us Css Start Here****/
#about_us-page{
  background: url(../images/-aboutusBackground.jpg);
  background-size: 100% 100%;
  height: 672px;
}



.tabs-about {
    margin: 160px 150px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    padding: 0px 121px;
    font-size: 20px;
    border-right: 1px solid #BC7A2C;
}
.nav-tabs > li:last-child{
  border-right: none;
}
.nav.nav-tabs.responsive-tabs {
    background: rgb(122, 67, 9) none repeat scroll 0% 0%;
    border-bottom: medium none;
}
.nav.nav-tabs.responsive-tabs .active {
    background: rgba(122, 67, 9, 0.5) none repeat scroll 0% 0%;
    color: #FFF !important;
    border-bottom: 5px solid rgb(234, 131, 23);
}
.nav.nav-tabs.responsive-tabs .active a {
    color: #EA8317 !important;
}
.nav-tabs > li > a {
    color: #BC7A2C !important;
}
.nav-tabs > li > a:hover{
    color: #EA8317 !important;
}
.tab-content {
    color: rgb(15, 15, 15);
    line-height: 26px;
    font-size: 14px;
    border: 2px solid rgb(123, 75, 10);
   
    padding: 6px 15px;
    border-radius: 0 0 3px 3px;
}
.like-button {
    background-color: #FBFBFB;
    color: #6D250D;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}
.like-button:hover{
  background-color: #000;
 color: #fff;
}
.rules{
  margin-bottom: 20px;

}
.rules li {
    line-height: 25px;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 5px;
}
#defaultCountdown{
  margin-top: 80px;
}
.menu-navigation{
    text-align: left;
}
.navigation ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    opacity: 0.9;
    border-radius: 0px 0px 5px 5px;
}
.contact-form.pulse ul {
    padding: 0px;
    margin: 0px;
}
.contact-form.pulse ul li {
    padding: 10px 15px;
    background: #F9F0DD;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 15px;
}
.contact-form.pulse ul li:nth-child(2n) {
    background-color: #F5DBBA;
}
.fb {
    margin-top: 95px;
}
